{% extends "page_template.html.twig" %}

{% block pageContainerClasses%} container container-post blog {% endblock %}


{% block mainContent %}

  <div class="row">

    <div class="col-lg-12">

      <h1 >{{ post.title | raw}}</h1>
      <hr>

      <p>It's not a question I expected, to be honest. Can cats eat bananas? When I was asked this question by an acquaintance
      while discussing this site, I'll admit to having no idea what the answer was. "I don't actually know..." I said. "But I'll find out!"</p>

      <p>Some research later, here I am sharing with both him and you what I've discovered during my quest for more banana-based cat food knowledge.</p>

      <img id="img-blog-left" src="/img/blog/can-cats-eat/cat-banana.png" >

        <p><span class="h4">The short answer: </span>Yes, cats can eat bananas. According to the <a href="http://www.aspca.org/pet-care/animal-poison-control/toxic-and-non-toxic-plants/banana" rel="nofollow" target="_blank">ASPCA</a>, bananas are not toxic to cats. So if your cat really wants a small piece of that banana you've been eating, it's fine.

        <p><span class="h4">The longer answer: </span>Yes, cats can eat bananas -- but with caveats. If you're giving your cat banana, ensure the peel has been completely removed; their digestive systems cannot break down the extremely fibrous peels adequately. Also note that bananas are high in sugar, which is completely unnecessary in a cats diet. In fact, too much sugar can contribute
        to feline obesity and diabetes, both of which can be very dangerous to cats. So when feeding your cat banana, it's the same as with most things in life -- moderation is key! But if you find your cat does appreciate a bite of banana now and then, frozen
      pieces can make great cat treats!

      <div class="row">
        <img class="img-responsive" style='margin-top: 20px; margin-bottom: 20px; padding-left: 15px; padding-right:15px' src="/img/blog/can-cats-eat/bananas-header.jpg" title="Bananas" alt="Banana"/>
      </div>


      <h2>Is there Banana in Cat Food?</h2>

      <p>
      After learning that cats and bananas do get along, I was curious whether or not any of the cat foods
      catalogued here on <a href="/" alt="CatFoodDB" title="CatFoodDB">CatFoodDB</a> contained banana in their list of ingredients.
          Surprisingly enough -- some products do! We have data on at least 15 different commercial cat food products that contain at least some amount of banana. <a href="/brand/petcurean" title="Petcurean">Petcurean</a> and <a href="/brand/party%20animal" title="Party Animcal">Party Animal</a> are two such brands that use banana, most likely as a source of both fiber and carbohydrates. In fact, 2 of the highest rated products within <a href="/" alt="CatFoodDB" title="CatFoodDB">CatFoodDB</a> contain banana as one of their ingredients. You can read their reviews here:</p>

      <ul>
          {% for key, product in extra['products'] %}
              <li><a href="{{ product | catfood_url  }}" title="{{ product.displayName }}">
                  {{ product.displayName }} </a>
              </li>
          {% endfor %}

      </ul>


        <a href="/search?search=banana" title="Search for products containing banana">You can also find the full list of banana-containing products here.</a></p>

      <p>Alternatively, if you'd rather your cat just look adorable with a banana, you could always buy them
      <a href="http://amzn.to/2dxkbkx" rel="nofollow">this amazing catnip banana instead!</a></p>

      <hr/>

      {% include 'partials/amazon.html.twig' %}
    </div>
  </div>

{% endblock %}

{% block amazonAds %}
{% endblock %}
{% block support %}
{% endblock %}