/vendor/
/components/
/bower_components/
/node_modules/
/public/css/
/public/fonts/
/public/templates
/public/js
/public/img
/public/fixtures
/public/vendor
/logs/*
!/logs/README.md
/templates/cache/*
!/templates/cache/README.md
.DS_STORE
.idea/
npm-debug.log
log/*
.env

tests/_output/*
*.phar
tests/_support/_generated/