
<div class="adsense ad {{ classes }}">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- CatFoodDB - 728x90 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-7510840312694994"
       data-ad-slot="3647022085"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
  {#<!-- CatFoodDB - Responsive Links -->#}
  {#<ins class="adsbygoogle"#}
       {#style="display:block"#}
       {#data-ad-client="ca-pub-7510840312694994"#}
       {#data-ad-slot="6753435684"#}
       {#data-ad-format="link"></ins>#}
  {#<script>#}
    {#(adsbygoogle = window.adsbygoogle || []).push({});#}
  {#</script>#}
</div>