
{% set url="http://tracking.chewy.com/aff_c?offer_id=4&aff_id=4635&source=" ~ source %}

<div class="chewy center-text text-center">
  <h3>{{ url | url("20% off at chewy.com", '_blank', true) }}</h3></a>
  <p>{{ url | url("On ALL Cat Food", '_blank', true) }}</p>
  <a href="{{ url }}" target="_blank" rel="nofollow" type="button" class="btn btn-danger btn-lg">Shop Now!</a>
</div>


