<div class="row">
    <div class="col-md-12 main">
      <h1>CatFoodDB FAQ</h1>
      <hr />
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq1">What is this, exactly?</a>
            </h4>
          </div>
          <div id="faq1" class="panel-collapse collapse">
            <div class="panel-body">Simply put, <a href="http://catfooddb.com">CatFoodDB.com</a> is a nutritional database and review site for cat food.
              There are dozens of databases for human food, this one is an equivalent for commercially prepared cat food.
              It provides nutritional breakdowns, ingredient lists, calorie counts and fact-based reviews for over a thousand wet & dry cat food products.</div>
          </div>
        </div>
      </div>


      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq2">Where did you get all the data?</a>
            </h4>
          </div>
          <div id="faq2" class="panel-collapse collapse">
            <div class="panel-body">The vast majority of the data is pulled directly from the manufacturer's published nutritional information. In most cases
              this data is originally published on the manufacturer's product website, but in a few cases the data may be taken directly from the product packaging.</div>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq2a">How do you review all these products?</a>
            </h4>
          </div>
          <div id="faq2a" class="panel-collapse collapse">
            <div class="panel-body">Each of the reviews on this site are created using each product's published guaranteed analysis and ingredient lists.
            With over 2200+ products catalogued, CatFoodDB is in a unique position where we can compare each product to all the others in our database.
            This allows us to report on whether or not any product is better or worse in several different categories and criteria, and then present our findings to
            you to assist in your cat food purchasing choices! Each review is non-biased and is reporting only on the facts as provided by the cat food manufacturer.</div>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq3">What products do you have data for?</a>
            </h4>
          </div>
          <div id="faq3" class="panel-collapse collapse">
            <div class="panel-body">We're continually updating our database of cat food products. Currently, we have cataloged products from
              {% for section, brandData in brandUrls %}
                {% set lastSection = loop.last %}
                {% for brand,url in brandData %}
                  {% if loop.last and lastSection %}
                    and <a href="{{ url }}">{{ brand | trim }}.</a>
                  {% else %}
                    <a href="{{ url }}">{{ brand | trim }},</a>
                  {% endif %}
                {% endfor %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq19">What products might be available soon?</a>
            </h4>
          </div>
          <div id="faq19" class="panel-collapse collapse">
            <div class="panel-body">We're continually updating our database of cat food products.
              If your preferred brand of cat food isn't included here, please let us know at <strong>support@catfooddb.com</strong> or <strong><a href="http://twitter.com/catfooddb">@catfooddb</a></strong>.

              <br /><br /><strong>Note: </strong>Only cat food sold in the USA and Canada requires a Guaranteed Analysis to be published by the manufacturer. Other countries, including the UK, don't necessarily
              have this restriction. Hence CatfoodDB cannot publish nutritional data for products sold only outside of the USA and Canada, which includes those produced under the Felix brand.

            </div>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq4">Can I search for a particular cat food?</a>
            </h4>
          </div>
          <div id="faq4" class="panel-collapse collapse">
            <div class="panel-body">
              <a href="http://catfooddb.com/search">CatFoodDB's search page</a> is very powerful. Some search tips:</a><br /><br />
              <ul>
                <li>When you enter a search term, each cat food in our database is searched against its brand, flavor and ingredients. </li>
                <li>Multiple words are "and"ed together. That is, if you search for <span class="search-term">chicken tuna</span> the site will return all results that contain both chicken and tuna. </li>
                <li>"Or" searches are made using the <span class="search-term">OR</span> keyword. Searching for <span class="search-term">chicken OR tuna</span> will return all products that contain chicken or tuna.</li>
                <li>You can also find products that don't contain terms, using a <span class="search-term">-</span> (dash, or minus sign) in front of the term to be excluded. For example, <span class="search-term">chicken -rice</span> will return all products that
                  contain chicken but not rice.
                </li>
                <li>You can put quotation marks around phases to be searched. For example,<span class="search-term">"chicken liver"</span> will return results where the complete phase
                  "chicken liver" is found, but will not necesarily include "chicken heart".
                <li>Wildcards are supported to complete words, using  <span class="search-term">*</span> as the wildcard character. Searching for <span class="search-term">me*</span> will
                  return all products with meat but also Menadione (a chemical commonly found in cat food).
                <li>The search engine also makes use of the roots of words searched for, so searching for <span>carrot</span> will also automatically return results for carrots.</li>
                <li>You can also limit searches to a particular brand by prefixing search terms with <span class="search-term">brand:</span>.
                  For example, <span class="search-term">brand:wellness</span> will return all the Wellness products in our database.</li>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq5">How can I sort the search results?</a>
          </h4>
        </div>
        <div id="faq5" class="panel-collapse collapse">
          <div class="panel-body">In list view, clicking on the buttons labelled Protein, Fat, Fiber, Carbs and Calories will sort by those values.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq12">My cats only eat wet food. Can I hide the dry foods from the search results?</a>
          </h4>
        </div>
        <div id="faq12" class="panel-collapse collapse">
          <div class="panel-body">
            Yes! You can view all products, just wet foods (with at least 20% moisture),
            or just dry foods (with no more than 20% moisture) by choosing the appropriate filter from the left menu (or top, on mobile).
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq6">What is a 'Guaranteed Analysis'?</a>
          </h4>
        </div>
        <div id="faq6" class="panel-collapse collapse">
          <div class="panel-body">Guaranteed Analysis is <a href="http://petfood.aafco.org/NutritionalLabeling.aspx" target="_blank">required</a>
            by the <a href="http://aafco.org/" target="_blank">AAFCO (Association of American Feed Control Officials)</a> on the
            label of all pet foods. It's purpose is to advise the purchaser of the product's nutrient content. At minimum,
            it publishes the minimum percentages of crude protein and crude fat, and maximum percentages of crude fiber and moisture.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq7">What's the difference between Wet Matter & Dry Matter?</a>
          </h4>
        </div>
        <div id="faq7" class="panel-collapse collapse">
          <div class="panel-body"><strong>Wet Matter</strong> values are the Guaranteed Analysis numbers as published by the cat food manufacturer.
            <br /><strong>Dry Matter</strong> values are the manufacturer's published Guaranteed Analysis numbers normalized for moisture content.
            <br /><br />Because each variety of cat food contains a different amount of moisture, logically you can only compare different products once the
              moisture is removed. For example, a wet cat food might contain 80% moisture, and 10% protein. A dry cat food might contain 10% moisture, and 30% protein.
              Unless you remove the moisture from the equation, it initially appears the dry food contains more protein. In reality however,
              the wet food contains 50% protein once the moisture is removed,
              meanwhile the dry cat food only contains 33.3% protein.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq-dry">How are Dry Matter values calculated?</a>
          </h4>
        </div>
        <div id="faq-dry" class="panel-collapse collapse">
          <div class="panel-body">
            The total amount of Dry Matter in a product is calculated by subtracting the percentage of moisture given from 100%.
            The Dry Matter protein, fat, fibre and other values are then calculated by dividing the percentages given on the label by the percentage of dry matter.
            For example, a fictional cat food product lists 30% moisture, 20% fat, 10% protein and 5% fiber in it's Guaranteed Analysis section of it's ingredients label.
              The amount of dry matter is 70% (100% - 30%).
              The dry matter fat percentage is then calculated to be 28.5% (20% / 70%), protein is 14.3% (10% / 70%) and fiber is 7.1% (5% / 70%).
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq8">Why do the percentages occasionally add up to more than 100%?</a>
          </h4>
        </div>
        <div id="faq8" class="panel-collapse collapse">
          <div class="panel-body">
            The published Guaranteed Analysis numbers report the maximum fiber, moisture and ash contained in the product, and the minimum amount of protein and fat.
            Hence, the maximums, when added to the minimum values, may occasionally add up to more than 100%.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq9">How is the percentage of carbohydrates calculated?</a>
          </h4>
        </div>
        <div id="faq9" class="panel-collapse collapse">
          <div class="panel-body">
            Carbohydrate percentages of the cat food products are estimated to be 100% minus the percentages
              reported in the Guaranteed Analysis for moisture, fat, fiber, protein, ash and other components.
            Because the Guaranteed Analysis actually reports a mixture of maximum and minimum values for the nutrients, the calculated carbohydrate amounts are
              only an estimation.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq10">How are the caloric amounts calculated?</a>
          </h4>
        </div>
        <div id="faq10" class="panel-collapse collapse">
          <div class="panel-body">
            Calories are calculated according to the formulas posted by the AAFCO, documented <a href="http://petfood.aafco.org/CalorieContent.aspx#caloriecontent">here.</a>
            Because calorie calculatations are based n the the Guaranteed Analysis which reports a mixture of maximum and minimum values for the nutrients, the calculated calories are
            only an estimation. </p><p>
              Occasionally the cat food manufacturer will publish calorie counts amounts for their individual products, and these values will differ from the ones shown we display.
              This can happen because, as explained,
            our calorie counts are only estimations, meanwhile the manufacturer will be able to determine more exact values.
              The authoritative source for all nutritional information for any pet food is always the pet food manufacturer.
          </div>
        </div>
      </div>
    </div>
  
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq10a">Why don't you display actual prices?</a>
          </h4>
        </div>
        <div id="faq10a" class="panel-collapse collapse">
          <div class="panel-body">
            Due to product price fluctuations, pricing, when available, is displayed using a scale that ranges from $ to $$$$$, cheapest to most expensive. More info on our price data
            can be found <a href="/blog/cat-food-prices">here</a>.
          </div>
        </div>
      </div>
    </div>
  
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#faq10b">Where did you get the pricing data?</a>
            </h4>
          </div>
          <div id="faq10b" class="panel-collapse collapse">
            <div class="panel-body">
              Pricing data is obtained from our partners at With .com and occasionally other retailers as well. More info on our price data
              can be found <a href="/blog/cat-food-prices">here</a>.
            </div>
          </div>
        </div>
      </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq13">You don't list my favorite product!</a>
          </h4>
        </div>
        <div id="faq13" class="panel-collapse collapse">
          <div class="panel-body">
            We're constantly working to update our product database to include as many products as possible, but we need your help! If you have information about a
            product we're missing, please contact us at <strong>support@catfooddb.com</strong> or at
            <strong><a href="http://twitter.com/catfooddb">@catfooddb</a></strong> and let us know! If possible, please include the product's manufacturer & flavor.
            Extra information, specifically the manufacturer's web site and/or an amazon purchase link, would be greatly appreciated!
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq14">The data or image for my favorite product is wrong!</a>
          </h4>
        </div>
        <div id="faq14" class="panel-collapse collapse">
          <div class="panel-body">
            If you find an incorrect image, Amazon purchase link or incorrect nutritional information for any product, please let us know via email at <strong>support@catfooddb.com</strong>
            or at <strong><a href="http://twitter.com/catfoodDB">@catfooddb</a>.</strong>
          </div>
        </div>
      </div>
    </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#money">Do you make any money from this site?</a>
            </h4>
          </div>
          <div id="money" class="panel-collapse collapse">
            <div class="panel-body">
              Financially, this site's hosting and other associated costs will be funded via the Amazon affiliate links associated with each product.
              Product links on this page, and throughout the site, are affiliate links. This means that I, at no additional cost to you,
              earn a small commission if you decide to make a purchase.
              <br><br/>
              If you're buying your cat's food from Amazon,
              consider purchasing via the links on this site!
              </p>

              <p>
                <a href="/">CatFoodDB</a> is a participant in the Amazon Services LLC Associates Program, an affiliate
                advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to
                <a href="https://www.amazon.com/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=catfood00b-20&linkId=fb260d7ca4b590fa522d1713cde0cc0b">Amazon.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq15">This site is awesome! How can I help?</a>
          </h4>
        </div>
        <div id="faq15" class="panel-collapse collapse">
          <div class="panel-body">
            Financially, this site will be funded via the Amazon affiliate links associated with each product.
            Product links on this page, and throughout the site, are affiliate links. This means that I, at no additional cost to you,
            earn a small commission if you decide to make a purchase.
            <br><br/>
            If you're buying your cat's food from Amazon,
            consider purchasing via the links on this site!

            <br/><br />You can also help by providing information about any missing cat food products. If you have information about a product we're missing,
              please contact us at <strong>support@catfooddb.com</strong> or at <strong><a href="http://twitter.com/catfooddb">@catfooddb</a></strong>.
              Please include any additional information you have -- links to manufacturer product pages are a huge bonus, as are product images and Amazon product pages.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq16">Who made this site? How can I contact you?</a>
          </h4>
        </div>
        <div id="faq16" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Hi, my name's Tammy and this is my site! I'm a web developer by day, and by night I'm the human for 3 cats. Concerned about what I was feeding my feline dependants,
              I set off to find a cat food nutritional database similar to the dozens that exist for human food. Unable to find one, I built my own.
            </p>
            <p>Comments, feedback, complaints, and requests for more information can all be directed to me via email at <strong>support@catfooddb.com</strong>, via twitter
              at <strong><a href="http://twitter.com/catfooddb" target=_blank >@catfooddb</a></strong>, or on <strong><a href="https://www.facebook.com/pages/CatFood-DB/774201792660136" target=_blank >Facebook</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq17">Attributions</a>
          </h4>
        </div>
        <div id="faq17" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Special thanks to <a target="_blank" href="http://fontawesome.github.io/" title="Font Awesome">Font Awesome</a>,
              Marie Coons and Yazmin Alanis</a>
              from the <a href="http://www.thenounproject.com" target="_blank" title="Noun Project">Noun Project</a>
              and Freepik from <a target="_blank" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> for the icons used within this site.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq18">Disclaimer & Legal</a>
          </h4>
        </div>
        <div id="faq18" class="panel-collapse collapse">
          <div class="panel-body">
            <p>All of the information presented on this site is presented with the best of intentions to be correct. However, we cannot make any guarantees nor assume any liability for
              the accuracy of the data presented. We also cannot be held liable for any actions made as a result of the information presented within this site.
              <strong>The authoritative source for ingredient lists and nutritional analysis for any pet food is always the pet food manufacturer.</strong></p>

            <hr>
            <p>
              <a href="/">CatFoodDB</a> is a participant in the Amazon Services LLC Associates Program, an affiliate
              advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to
              <a href="https://www.amazon.com//ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=catfood00b-20&linkId=fb260d7ca4b590fa522d1713cde0cc0b">Amazon.com.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>