<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left text-muted">
          Find Us @
          <a target="_blank" href="http://twitter.com/catfooddb"><i class="fa fa-lg fa-twitter-square"></i></a>
          <a target="_blank" href="https://www.facebook.com/pages/CatFood-DB/774201792660136"><i class="fa fa-lg fa-facebook-square"></i></a>
          <a target="_blank" href="https://www.pinterest.com/catfooddb"><i class="fa fa-lg fa-pinterest-square" aria-hidden="true"></i></a>
          <a href="mailto:support@catfooddb.com.com" target="_top"><i class="fa fa-lg fa-envelope-square"></i></a>

        </p>
        <p class="text-muted pull-right">© {{ "now"|date("Y") }} <a href="{{ seo['siteUrl'] }}">{{ seo['siteName'] }}</a></p>
      </div>

    </div>

  </div>
</div>