<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/blog/best-wet-cat-foods"><img src="/img/blog/Best_Wet_Cat_Foods.png" alt="Blog Post: Best Wet Cat Food"></a>
    </div>
    <div class="item">
      <a href="/blog/dry-matter-basis"><img src="/img/blog/dry-matter/Dry%20Matter%20Basis.png" alt="Blog Post: Dry Matter"></a>
    </div>
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>