
<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h2>{{ h1 | default('Unbiased Cat Food Reviews') }}</h2>
                <span class="{% if minimalMobile %}hidden-xs{% endif %}">
                <h4>{{  h2 | default('Find the best cat food for your cat from '~ (stats.total|round(-2,'floor')) ~ '+ products and '
                    ~ (stats.brandCount | round(-1,'floor')) ~ '+ brands.')  }}</h4>
                <p {{ intro_modifiers | default('') | raw }}>
                    {{ intro |
                    default("If you're concerned about proper feline nutrition, ingredient quality, allergies,
                    nutrition profiles, weight loss or simply feeding your finicky cat, the CatFoodDB is the perfect research tool
                    to help you find the best cat foods - the ones that meet your cat's individual needs.") | raw}}
                </p>
                    <p><strong>CatFoodDB: Decoding nutrition labels so you don't have to!</strong></p>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="header-break">
</div>