<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="product-list product-list-legend product-list_xxs">
      <div class="panel panel-info">
        <div class="panel-heading text-center">
          <b>Legend</b>
        </div>
        <table class="table table-condensed table-hover">
          <tbody>
          <tr>
            <td class="product">
              <h4>Ingredients:</h4>
            </td>
            <td class="ratings">
              Rated from {{ 1 | paws("ingredients-paws") }} to {{ 5 | paws("ingredients-paws") }}
            </td>
          </tr>
          <tr>
            <td class="product">
              <h4>Nutrition:</h4>
            </td>
            <td class="ratings">
              Rated from {{ 1 | paws("nutrition-paws") }} to {{ 5 | paws("nutrition-paws") }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
