<div class="input-group">
  <input type="text" class="form-control" id="searchInput">
  <span class="input-group-btn">
    <a class="btn btn-default" id="searchLink" type="button" href="/search">
            <span class="glyphicon glyphicon-search"></span>
    </a>

  </span>
</div>