{% extends "base.html.twig" %}


{% block content %}
<div class="container" style="padding-top:30px; padding-bottom:30px;">
  <h1>{{ title }}</h1>
  <p>{{ info }}</p>
  {% for rank, product in products %}
    {% set template = 'admin/admin-list-product.html.twig' %}
    {% include "posts/partials/list-item.html.twig" with {
      'product': product,
      'rank': rank+1,
      'hideCharts': true
    } only %}
    
  {% endfor %}
</div>

{% endblock %}