{% set brandUrl = "http://www.9lives.com/" %}

<p><a target="_blank" href="{{ brandUrl }}" rel="nofollow">9Lives</a> is a
  <a href="http://www.bigheartpet.com/" rel="nofollow">Big Heart</a> pet food brand, and was first introduced in 1959.
  They are perhaps best known for their large, orange tomcat tabby mascot "Morris the Cat" who has starred in over 50 commercials.</p>

<p>
According to their website, the 9Lives brand believes all cats deserve to live long, healthy lives.</p>
