{% set abound = "http://www.aboundpet.com/" %}
<p>
According to their website, {{ abound | url("Abound", "_blank", true) }}'s mission to create a better pet food comes from the respect and love they have for their
own cats and dogs... and their desire to contribute to their healthier, happier and longer lives. They take their commitment
to quality seriously. They believe our cats and dogs should have access to the same kind of quality nutrition that the rest
of our family members do.
</p>
<p>
Abound pet food products can be purchased at many Kroeger, QFC, Fred Meyer and other retailers within the United States.
</p>