{% set url = "http://borealpetfood.com/" %}
{% set locations = "http://borealpetfood.com/" %}

According to their website, {{ url | url("Boréal Pet Foods", "_blank", true) }} is a Canadian company providing you with a balanced,
thoughtful grain-free solution so your cat can eat a diet similar to what their ancestors ate. Using Canadian ingredients
whenever possible their dry foods are made in Ontario using peas and beans grown in the prairie provinces and Ontario.
The meats used in their dry foods are chicken, duck and salmon from Canada, their lamb is from New Zealand
and their wet foods are from British Columbia and Thailand.

</p><p></p>
Boréal cat food is available at a limited number of online and physical retailers; you can find your closest option {{ locations | url("here", "_blank", true) }}.

