{% set url = "http://www.dadspetfoods.com/" %}
{% set locations = "http://www.dadspetfoods.com/where-to-buy" %}
{% set walmart = "http://linksynergy.walmart.com/fs-bin/click?id=cSznyPLEjB8&type=10&tmpid=1081&offerid=223073.7442&RD_PARM1=https%253A%252F%252Fwww.walmart.com%252Fsearch%252F%253Fquery%253Ddads%2520cat%2520food%2526affs%253De" %}

According to their website, at {{ url | url("Dad's Pet Foods", "_blank", true) }} they've always had a "From the Farm to the Bowl" philosophy.
In fact, ever since they created their first dog food, they've always purchased their ingredients from local farmers they know and trust.

<p></p>
Dad's cat food can be found at {{ walmart|url("Walmart", "_true", "true") }}, Tractor Supply Company and other grocery stores across the United States.