{% set url = "http://www.drsfostersmith.com/" %}
{% set amazon = "http://amzn.to/2jnm8FL" %}

According to their website, {{ url | url("Doctors Foster & Smith", "_blank", true) }} is the largest direct-to-your-door pet supply source in America.
Centered in the heart of beautiful Northern Wisconsin, they have been providing quality at-home pet healthcare and everyday
essentials at prices everyone can afford for over 30 years. What started out in 1983 as four modest animal hospitals
in rural Wisconsin is now a thriving effort to educate and empower families nationwide with products for your pets
selected by our veterinarians.

<p></p>
Drs Foster & Smith products can be purchased online via their {{ url | url("website", "_blank", true) }}. Additionally,
some varieties can also be found for purchase online at other retailers, including {{ amazon | url("Amazon", "_blank", true) }}.