{% set url = "http://www.luvsomepet.com/" %}
{% set retailers = "http://www.luvsomepet.com/where-to-buy/" %}


According to their website, at {{ url|url("LUVSOME", "_blank", true) }} they believe that a balanced diet is the key to helping our pets stay happy and
healthy for a long time. Their commitment to quality means that every bowl is “LUVSOME Approved” and that you’re giving
your pet a 100% complete and balanced, nutritious meal.

</p><p>
LUVSOME cat food can be {{ retailers|url("purchased",  "_blank", true) }} at Kroger, Fred Meyer's, QFC and other retailers where Kroger brand products are sold.