{% set brandUrl = "http://www.performatrin.com/" %}
{% set ultra = "http://www.performatrin.com/category/performatrin_ultra/performatrin_ultra_cats/" %}
{% set amazon = "http://amzn.to/2gve4TI" %}
{% set petvalu = "http://petvalu.com/" %}

<p>
{{ brandUrl|url("Performatrin", "_blank", true) }} cat food is primarily distributed though the {{ petvalu|url("Pet Valu", "_blank", true) }} family of stores,
which includes Pet Valu, Bosleys and Paulmac’s Pet Food. Most varieties can also be purchased online from {{ amazon|url("Amazon", "_blank", true) }} and other retailers.
</p>
<p>
According to their website's marketing, Performatrin grew from a philosophy that our pets give us unconditional love,
and they deserve the best in return, including the best nutritional care. Performatrin also claims that their food options provide healthy nutrition to your pet
– nutrition that uses only high quality ingredients, and never uses any artificial flavors, colors or preservatives.
</p>

