{% set url = "http://pureharmony.com/" %}
{% set locations = "http://pureharmony.com/#find-a-store" %}

According to their website, at {{ url | url("Pure Harmony", "_blank", true) }} they know that you want to take care of
your furry family member like you take care of yourself. Their high quality pet food provides options for grain free and
meat, poultry or fish as the first ingredient, and is carefully blended with real, wholesome ingredients from a variety of food groups.
</p><p>
Pure Harmony products can be {{ locations | url('found at several local grocery stores', "_blank", true) }} across the United States.