{% set brandUrl = "http://www.petsmart.com/featured-shops/cat-food/cat-36-catid-800644" %}
{% set amazon = "http://amzn.to/2gve4TI" %}
{% set petsmart = "http://www.petsmart.com/" %}
{% set sn = "http://www.petsmart.com/featured-brands/simply-nourish/cat/" %}
<p>
{{ sn | url("Simply Nourish", "_blank", true) }} is a {{ petsmart|url("PetSmart", "_blank", true) }} brand of cat food,
and can be most readily bought there both in store and online. Limited varieties can also be found on {{ amazon|url("Amazon", "_blank", true) }} and via other online retailers.
</p>
<p>
According to their website's marketing, {{ brandUrl|url("Simply Nourish", "_blank", true) }} claims to be the natural nutrition your cat deserves.
</p>
<p>Note that in late 2016 several varieties were discontinued and have been replaced with new formulas. The old versions will continue to be listed below
in addition to the newer formulas, but the discontinued varieties have been indicated as such.</p>