<p>#{{ rank }} is the surprise entry in this list. Fancy Feast cat foods aren't generally known as a quality product -- their popularity
  instead seems to come from their availability in every grocery store and low price. That said, according to the published nutritional
  details and ingredients,  <a href="{{ product | catfood_url  }}" title="{{ product.displayName }}">
  {{ product.displayName }}</a> scores very well due to its low carb count, high protein
  percentage and lack of fillers. It does however contain guar gum. But if you're looking for a better more readily
  available cat food in your grocery store and this variety is available, it might be worth checking out!</p>
