{% extends "page_template.html.twig" %}

{% block pageContainerClasses %} container container-simple main {% endblock %}

{% block mainContent %}

  <div class="row">
    <img class="img-responsive" src="/img/logo/black-cat-logo-900.png" />
  </div>
  <hr>

  <h1>Oops!</h1>

  <h3>Looks like the page you're looking for doesn't live here.<br>
    Sorry about that. <i class="fa fa-frown-o " aria-hidden="true"></i></h3>

  <hr>

  <h4 class="text-center">Feel like trying again? <a href="/search">Search here:</a></h4>
  {% include 'partials/search-bar.html.twig' %}

  <hr>

  <h4>Or, are you looking for a particular cat food review? Check out any of the links below for our fact-based reviews from over
  {{ brands|length }} different brands.</h4>

  <hr />

  {% include "partials/brand-list.html.twig" with {
  'brands': brands
  } only
  %}

  <hr/>

{% endblock %}