{% extends "base.html.twig" %}
{% block searchBarClass %}invisible{% endblock %}
{% block content %}
  {% verbatim %}


  <div class="jumbotron">
    <div class="container">
      <h1>Coming Soon - Nutritional information for your cats!</h1>
      <p>Search the internet's most complete cat food database, with nutritional breakdowns and ingredients for
        hundreds of unique commercial wet & dry cat food products. <br><br>What's in <em>your</em> cat's food?</p>
    </div>
  </div>

  {% endverbatim %}


{% endblock %}