{% extends "base.html.twig" %}

{% block content %}

    {% include 'partials/jumbotron.html.twig' with {'stats': stats } only %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 main">
                <h2>All Products By Brand</h2>
                <hr />
            </div>
            <div class="col-md-10 col-md-offset-1 main product-menu">
                {% for brand, products in products %}
                    <a href="products#{{ brand }}">{{ brand }}</a>

                    {%  if not loop.last %}
                        &nbsp;|&nbsp;
                    {% endif %}
                {% endfor %}
                <hr />
            </div>
        </div>

        {% include "partials/product-legend.html.twig" %}

        <div class="row">
        {% set counter = 0 %}
        {% set colLength = (totalRows / 2) | round(0, 'ceil') %}

        {%  for brand, products in products %}
            {% if counter == 0 %}
                <div class="col-md-6">
            {% else %}
                {% set countCheck = counter + ( products | length ) / 2 %}
                {% if countCheck > colLength %}
                    {# create a new column, this one will go too long #}
                    {% set counter = 0 %}
                    </div>
                    <div class="col-md-6">

                {% endif %}

            {% endif %}

                {% include "partials/product-list.html.twig" with {
                'title': brand,
                'products': products,
                'className': ''
                } only
                %}
                {% set counter = counter + products|length %}

            {% if loop.last %}
                {% set counter = 0 %}
                </div>
            {% endif %}

        {% endfor %}

        </div>
    </div> <!-- /container -->


{% endblock %}