{% extends "base.html.twig" %}
{% block htmlTagContents %}
    ng-app="catfoodApp"
{% endblock %}
{% block bodyTagContents %}
    ng-controller="SearchCtrl"
{% endblock %}
{%  block navSearchField %}
    ng-model="searchData.navSearchText"
{% endblock %}
{%  block navSearchButton %}
    ng-click="navSearch()"
{% endblock %}

{% block content %}

    {% include 'partials/jumbotron.html.twig' with {'stats': stats } only %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 main">
                <hr />
            <h2>Search {{ stats.total }} Cat Food Reviews</h2>
                <hr />
            </div>
        </div>
    </div>

    {% verbatim %}
    <div class="container">
        <div ng-view></div>
    </div> <!-- /container -->
    {% endverbatim %}


{% endblock %}